.hidden {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.large {
  font-size: 3rem;
}

.flex {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  background-color: beige;
  width: 90vh;
}

.url-bar {
  width: 70vh;
}

.display-result {
  margin-top: 4rem;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-content {
  font-size: 3rem;
}
